{% extends 'base.html.twig' %}
{% block title %} Update tournament {% endblock %}

{% block body %}
    <h1>Update tournament {{ tournament.name }}</h1>

    {% include 'form.html.twig' %}

{% endblock %}